html
  -webkit-text-size-adjust none
  min-height 100%

body
  font-size 18px
  line-height 1.8
  // background-color #e7eaf0

body, input, textarea
  font-family "Roboto"
  font-size 14px
  line-height 1.8

*:focus
  outline none

#overlay
  background rgba(0,0,0, 0.7)
  position fixed
  z-index 9998
  top 0
  left 0
  width 100%
  height 100%

.-hide
  display none

.-mobile
  display none !important

input[type="search"]
  -webkit-appearance textfield
