// variables
$white = #fff
$white-opacity = rgba(255,255,255,.9)
$white = #fff
$black = #000
$black-opacity = rgba(0,0,0,.85)
$black-opacity-light = rgba(0,0,0,.7)
$green = #40be65
$green-darker = #39ab5b
$green-dark = #339851
$gray = #f5f7f7
$gray-text = #9b9b9b
$gray-text2 = #8e8e8e
$blue = #2c99ed
$blue-darker = #247bbf

$border-gray = #dfdfdf
