// variables
$white = #fff
$white-opacity = rgba(255,255,255,.9)
$white = #fff
$black = #000
$black-weak = #1b1b1b
$black-opacity = rgba(0,0,0,.85)
$black-opacity-light = rgba(0,0,0,.7)
$black-shadow = rgba(0,0,0,.15)
$black-shadow-hover = rgba(0,0,0,.20)
$green = #40be65
$green-darker = #39ab5b
$green-dark = #339851
$gray = #f5f7f7
$gray-bg = #f8f8f8
$gray-text = #9b9b9b
$gray-text2 = #8e8e8e
$gray-button = #606060
$gray-button-hover = #4c4c4c
$gray-button-active = #2d2d2d
$gray-dark = #505050
$gray-text-light = #b4b4b4
$blue = #2c99ed
$blue-darker = #247bbf
$blue-dark = #1c71b4
$red = #e05139
$border-gray = #dfdfdf
$border-red-pale = #f6cac3
