// ==============================================
// Composition
// ==============================================

.composition
  width 45%
  max-width 500px
  height 420px
  float left
  position relative

  img
    position absolute
    transition transform 0.3s

  .composition-1
    top 0
    left 30px
    transform translate(0,-50px)

  .composition-2
    top 137px
    left 92px
    transform translate(50px,50px)

  .composition-3
    top 182px
    left 0
    transform translate(-50px,50px)

  &.-active
    img
      transform translate(0,0)

// ==============================================
// Composition
// ==============================================

.content

  &.-right
    float right
    width 49%
    max-width 540px

  &.-right-middle
    float right
    width 45%
    max-width 500px

  &.-right-small
    float right
    width 41%
    max-width 444px

  &.-centered
    text-align center

  &.-light
    .headline,
    .headline-description,
    .headline-author,
    .price
      color $black

    .price s:before
      background $black

    .headline-author
      a
        color $black

  &.-dark
    .headline,
    .headline-description,
    .headline-author,
    .price
      color $white

    .price s:before
      background $white

    .headline-author
      color $white

      a
        color $white
        border-color $white

.sub-headline
  margin-bottom 16px

  &.-top
    margin -40px 0 46px

.content-image
  float left
  width 47%
  max-width 540px

  img
    width 100%
    border 2px solid $white
    border-radius 5px
    box-shadow 3px 3px 8px rgba(0,0,0,.15)

// ==============================================
// Features
// ==============================================
.features
  padding 52px 0 0
  color #fff

  .content
    padding 33px 0

    .btn
      color inherit

  .headline-author
    margin -24px 0 20px

  .price
    position relative
    z-index 2
    font-size 20px
    font-weight 600
    margin-bottom -2px

    s
      font-size 16px
      display inline-block
      vertical-align top
      position relative
      top 3px
      left 3px
      text-decoration none

      &:before
        content ''
        display inline-block
        width calc(100% + 4px)
        height 2px
        background $black
        position absolute
        top calc(50% - 2px)
        left -2px

    &.btn.-rounded
      cursor default
      color $black
      font-size 22px
      font-weight 500

      &:hover
        background $white
      &:active
        top 0

  .headline-description
    margin-bottom 12px

.features-image
  float left
  width 55%
  max-width 610px

  img
    width 100%


// ==============================================
// Substrate
// ==============================================

.substrate
  overflow hidden
  position relative

  &:before
    content ''
    position absolute
    z-index 1
    top 0
    left 0
    display block
    width 100%
    height 100%
    background rgba(10,10,10,.88)


  .substrate-images
    position absolute
    background #777
    left 50%
    top 50%
    transform translate(-50%, -50%)
    width 100%
    height calc(100% + 20px)
    margin -5px 0
    min-width 1440px
    max-width 2800px

    li
      width calc(20% - 10px)
      height calc(100% / 3 - 10px)
      display block
      float left
      background-size cover
      margin 5px

// ==============================================
// Subscription
// ==============================================

.section-subscription
  position relative
  z-index 2
  color #fff
  text-align center
  padding 54px 0 100px

  .headline-big
    display block
    margin 14px 0 14px

  .subscription-form
    margin-top 38px

  .subscription-name
    line-height 40px
    margin-bottom 64px

  .subscription-buyer,
  .subscription-price,
  .subscription-submit
    display inline-block

  .subscription-buyer
    width 174px
    text-align left
    p

  .subscription-price
    margin 5px 26px 4px
    font-weight 600
    position relative
    top 2px

    .old-price,
    .price,
    .duration
      vertical-align middle

  .old-price
    font-family 'Poppins'
    font-size 24px
    color $gray-text2
    position relative
    letter-spacing -1px

    &:after
      content ''
      display block
      width calc(100% + 4px)
      height 3px
      background $gray-text2
      position absolute
      top calc(50% - 2px)
      left -2px

  .price
    font-family 'Poppins'
    font-size 36px
    display inline-block
    margin 0 8px 0 12px
    letter-spacing -2px

  .duration
    font-family 'Poppins'
    font-size 24px
    position relative
    top -4px
    letter-spacing -1px

.subscription-name
  display inline-block
  font-size 20px
  font-weight 500
  letter-spacing 6px
  text-transform uppercase
  border-bottom 2px solid $white

// ==============================================
// About List
// ==============================================

.about-list
  font-size 0

  li
    display inline-block
    vertical-align top
    width calc(100% / 3 - 48px)
    margin 0 24px
    color $gray-text
    font-size 16px
    line-height 28px
    text-align center

  .pic
    display inline-block
    height 82px

    &:before
      content ''
      display inline-block
      margin-bottom 12px

  h2
    font-size 24px
    font-family 'Poppins'
    letter-spacing -1px
    color $black
    margin-bottom 12px

  .best .pic:before
    sprite($s-best)
  .mark .pic:before
    sprite($s-mark)
  .diamond .pic:before
    sprite($s-diamond)

// ==============================================
// Purchase
// ==============================================

.purchase
  padding-top 12px

  .purchase-currency,
  .purchase-price,
  .purchase-old-price
    display inline-block
    vertical-align middle

  .purchase-currency
    font-size 15px
    font-weight 600
    margin-top -26px

  .purchase-price
    font 600 50px 'Poppins'
    margin 0 8px 0 6px

  .purchase-old-price
    font 600 27px 'Poppins'
    margin -18px 30px 0 0
    letter-spacing -2px
    position relative

    &:before
      content ''
      width calc(100% + 4px)
      height 3px
      position absolute
      left -2px
      top calc(50% - 3px)
      background $white

@media (max-width 1160px)
  .content-image
    width 45%
    padding-left 16px

  .content.-right-middle
    padding-right 16px

@media (max-width 1100px)
  .features
    .content
      padding 10px 0 30px

    .headline-description
      margin -8px 0 8px

@media (max-width 1000px)
  .features
    text-align center
    position relative

    &:before
      content ''
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      background rgba(0,0,0,.8)
      opacity 0
      transition opacity 0.2s

    .features-image
      float none
      margin 0 auto !important
      width 100%

    .price.btn.-rounded
      position absolute
      right 30px
      top 30px

    .headline-description
      display none

    h2.headline
      font-size 36px
      padding-bottom 20px

      .icon
        display none

    .content
      position absolute
      top 50%
      left 50%
      padding 0
      transform translate(-50%, -50%)
      box-sizing border-box
      opacity 0
      transition opacity 0.2s

      .headline-author
        margin-bottom 32px

      &.-light
        .headline,
        .headline-author,
        .headline-description,
        a
          color $white

        .headline-author a
          border-bottom-color $white

      .btn
        background $white
        color $black !important
        border-color $white

        &:hover
          background rgba(255,255,255,.9)

        &:active
          background rgba(255,255,255,.8)

    &:hover
      &:before
        opacity 1

      .content
        opacity 1

  .section-subscription
    padding 40px 0 80px

    .subscription-name
      margin-bottom 56px

    h2.headline
      font-size 36px
      line-height 48px
      letter-spacing -2px
      padding-bottom 8px

  .about-list
    .pic
      height 70px

    h2
      font-size 20px
      line-height 30px

    p
      font-size 14px
      line-height 22px

@media (max-width 920px)
  .section.-default .content-image + .content
    padding-top 20px

@media (max-width 700px)
  .base-col
    width 100%
    padding 0 16px

  .section
    &.-with-composition

      .base-col
        width 100%

      .composition
        transform scale(.62)
        margin -62px auto -18px
        position relative
        left -72px
        float none
        width 295px

      h2.headline
        font-size 22px
        line-height 30px

    .content
      float none !important
      width 100% !important
      margin-top 0 !important

      &.-mobile-centered
        text-align center

    &.-default
      padding 60px 0

  .features
    .content
      opacity 0 !important

    .price.btn.-rounded
      display none !important

  .section-subscription

    .subscription-name
      font-size 16px
      line-height 24px
      letter-spacing 5px
      margin 8px 0 36px

    h2.headline
      font-size 30px
      line-height 38px
      letter-spacing -1px
      padding-bottom 2px

  .about-list
    li
      width 100%
      box-sizing border-box
      margin 0 0 36px

      &:last-child
        margin-bottom 0

    .pic
      height 80px

    h2
      font-size 24px

    p
      font-size 16px
      line-height 26px

  .sub-headline.-top
    font-size 14px
    margin -20px 0 32px

  .content-image
    float none
    width calc(100% - 4px)
    max-width 100%
    padding-left 0
    margin 0 6px 15px 0

  .purchase
    padding-top 0

    .purchase-currency
      margin-left 30px

  .subscription-signup
    padding 46px 0 58px !important

    h2.headline
      padding-bottom 0
      margin-bottom 28px
