.page.catalog
  padding-bottom 0

  .page-header
    margin-bottom 40px

    .page-description
      padding-top 22px

.catalog-selection
  width 100%
  margin 0 0 80px
  text-align center
  clearfix()

  .selection-item
    display inline-block
    vertical-align top
    margin 0 8px

  .checkbox
    label,
    .svg-icon
      display inline-block
      vertical-align middle

    &.-left-icon
      top -4px

.product-catalog
  padding-bottom 80px

  .more
    margin-top 80px

@media (max-width 1000px)
  .page.catalog
    padding-top 56px

    .page-header
      margin-bottom 26px

      .page-description
        padding-top 16px

  .catalog-selection
    margin-bottom 60px

  .product-catalog
    padding-bottom 60px

    .more
      margin-top 60px

@media (max-width 700px)
  .page.catalog
    padding-top 4px

    .page-header
      margin-top 25px
      margin-bottom 25px

      .page-description
        padding-top 0
        margin-top 4px
        line-height 26px

  .product
    .headline-description
      letter-spacing -.25px

  .product-catalog
    padding-bottom 50px

    .more
      margin-top 50px

  .catalog-selection
    margin 0 0 36px

  section.catalog

    .headline-description
      padding-top 2px
