// ==============================================
// Features
// ==============================================
.features
  color #fff

  .base-col
    font-size 0
    height 450px
    position relative

    &:before
      content ''
      display inline-block
      height 100%
      vertical-align middle

  .features-content
    width calc(44% - 45px)
    padding-left 45px
    margin-top -10px
    display inline-block
    vertical-align middle

    &.-light
      .headline,
      .headline-description,
      .headline-author,
      .price
        color $black

      .price s:before
        background $black

      .headline-author
        a
          color $black

    &.-dark
      .headline,
      .headline-description,
      .headline-author,
      .price
        color $white

      .price s:before
        background $white

      .headline-author
        color $white

        a
          color $white
          border-color $white

    .btn
      color inherit

  .headline-author
    margin -24px 0 20px

  .price
    position relative
    z-index 2
    font-size 20px
    font-weight 600
    margin-bottom -2px

    s
      font-size 16px
      display inline-block
      vertical-align top
      position relative
      top 3px
      left 3px
      text-decoration none

      &:before
        content ''
        display inline-block
        width calc(100% + 4px)
        height 2px
        background $black
        position absolute
        top calc(50% - 2px)
        left -2px

    &.btn.-rounded
      cursor default
      color $black
      font-size 22px
      font-weight 500

      &:hover
        background $white
      &:active
        top 0

  .headline-description
    margin-bottom 12px

.features-image
  display inline-block
  vertical-align bottom
  width 56%
  max-width 610px
  text-align center

  img
    width 100%
    max-width 540px

@media (max-width 1100px)
  .features
    .content
      padding 10px 0 30px

    .headline-description
      margin -8px 0 8px

@media (max-width 1000px)
  .features
    text-align center
    position relative

    &:before
      content ''
      position absolute
      z-index 1
      left 0
      top 0
      width 100%
      height 100%
      background rgba(0,0,0,.8)
      opacity 0
      transition opacity 0.2s

    .features-image
      float none
      margin 0 auto !important
      width 100%

    .price.btn.-rounded
      position absolute
      right 30px
      top 30px

    .headline-description
      display none

    h2.headline
      font-size 36px
      padding-bottom 20px

      .icon
        display none

    .features-content
      position absolute
      z-index 1
      top 50%
      left 50%
      padding 0
      margin-top 0
      transform translate(-50%, -50%) scale(.8)
      box-sizing border-box
      opacity 0
      transition opacity .15s linear, transform .1s linear

      .headline-author
        margin-bottom 32px

      h2.headline
        letter-spacing -2px

      &.-light
        .headline,
        .headline-author,
        .headline-description,
        .headline-author a
          color $white
          border-bottom-color $white

      .btn
        background $white
        color $black
        border-color $white

        &:hover
          background rgba(255,255,255,.9)

        &:active
          background rgba(255,255,255,.8)

    &:hover
      &:before
        opacity 1

      .features-content
        transform translate(-50%, -50%) scale(1)
        opacity 1

@media (max-width 700px)
  .features
    .base-col
      height 240px

    .features-content
      width 100%
      opacity 0

    .price.btn.-rounded
      opacity 0
