.popup
  position fixed
  z-index 9991
  top 0
  left 0
  width 100%

  .popup-content
    max-height 100vh
    overflow-y scroll

  .close-button
    position absolute
    top 28px
    right 44px

.full-preview
  margin 0 auto
  width 100%
  max-width 1056px

  .images
    font-size 0

  img
    max-width 100%

@media (max-width 700px)
  .popup .close-button
    top 10px
    right 24px
