.header-main
  padding 26px 30px
  box-sizing border-box
  clearfix()

  &.-light
    background $white
    box-shadow 4px 4px 15px rgba(0,0,0,.1)

.site-logo
  float left
  text-decoration none
  font-size 0
  line-height 0

  .logo-img
    display inline-block
    sprite($s-logo)

  .emoji
    position relative
    top -3px
    margin-right 11px
    transform scale(.9)

  .logo-img,
  .emoji
    vertical-align top

  &.-light .logo-img
    sprite($s-logo-dark)

.header-main-menu
  position absolute
  min-width 440px
  left 50%
  transform translate(-50%, 0)

  &.-light
    a
      color #1b1b1b

      &:before
        color $gray-text

  li
    display inline-block
    margin 0 9px

  a
    color $white
    font-size 18px
    text-decoration none
    transition color .15s

    &:hover
      color $green-darker

      &:before
        color $green-darker

    &:active
      color $green-dark

      &:before
        color $green-dark


    &:before
      font-family 'iconfont'
      position relative
      display inline-block
      vertical-align top
      margin-right 9px
      margin-top 0
      font-size 18px
      color $gray-text
      transition color .15s

  .catalog a:before
    content "\EA05"

  .subscription a:before
    content "\EA09"
    font-size 16px
    margin-top 2px

  .deal a:before
    content "\EA07"
    font-size 22px
    margin-top -3px

  .blog a:before
    content "\EA04"

.header-main-controls
  float right
  margin-top -2px
  clearfix()

  a
    vertical-align top

  .icon-bag,
  .btn,
  .icon-login,
  .icon-menu
    float left
    margin-left 10px

.mobile-menu
  position fixed
  z-index 4
  top 0
  left 0
  width 100vw
  height 100vh
  background rgba(0,0,0,.92)
  transform translate(0, 0)
  transition transform 0.4s

  &.-hide
    display block
    transform translate(100%, 0)

  .icon-close
    position absolute
    top 28px
    right 30px

  .mobile-menu-links
    display inline-block
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    text-align center

    a
      font-size 35px
      line-height 60px
      font-weight 600
      color $white
      text-decoration none

      &:hover
        color $green-darker

      &:active
        color rgba(255,255,255,.8)

@media (max-width 850px)
  .header-main-menu
    min-width 380px

    li
      display inline-block
      margin 0 6px

    a
      font-size 16px

      &:before
        font-size 16px

    .subscription a:before
      font-size 14px

    .deal a:before
      font-size 20px

@media (max-width 700px)
  .header-main
    padding 18px 16px

    .site-logo
      margin-top 4px

      .emoji
        display none
