.icon
  font-family 'iconfont'
  font-size 20px
  transition color 0.15s

  &.-shadow
    box-shadow 2px 2px 9px rgba(0,0,0,.15)

  &.-rounded
    display inline-block
    width 38px
    height 38px
    border-radius 50%
    position relative
    transition color 0.15s linear, background 0.15s linear

    &.-large
      width 46px
      height 46px

    &:before
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)

    &.-notification:after
      content ""
      position absolute
      right 0
      top 0
      width 6px
      height 6px
      background $blue
      border 3px solid $white
      border-radius 50%

    &.-green
      background $green
      color $white

      &:hover
        background $green-darker

      &:active
        background $green-dark

    &.-gray
      background $gray
      color $gray-text

    &.-white
      background $white
      color $green

      &:hover,
      &:active
        background $green-darker
        color $white

    &.-white-opacity
      background rgba(255,255,255,.2)
      color $white

      &:hover
        background $green-darker

      &:active
        background $green-dark

  &.icon-menu:before
    content "\EA0B"
    font-size 11px

  &.icon-bag:before
    content "\EA0A"

  &.icon-login:before
    content "\EA0C"

  &.icon-hot:before
    content ''
    sprite($s-hot)

  &.icon-close
    transform rotate(0)
    transition transform 0.2s

    &:before
      font-size 11px
      color #000
      content "\EA0D"

    &:hover
      transform rotate(90deg)
      background rgba(255,255,255,.8) !important

// ==============================================
// Icons from sprite
// ==============================================

.icon-sprite
  display inline-block

  &.facebook
    sprite($s-fb)

  &.twitter
    sprite($s-twitter)

  &.google-plus
    sprite($s-google)
