.icon
  position relative

  .svg-icon
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    transition fill .15s

  &.-shadow
    box-shadow 2px 2px 9px rgba(0,0,0,.15)

  &.-rounded
    display inline-block
    width 38px
    height 38px
    border-radius 50%
    position relative
    box-sizing border-box
    transition color 0.15s linear, background 0.15s linear, border-color 0.15s linear

    &.-large
      width 46px
      height 46px

    &:before
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)

    &.-notification:after
      content ""
      position absolute
      right 0
      top 0
      width 6px
      height 6px
      background $blue
      border 3px solid $white
      border-radius 50%

    &.-green
      background $green
      .svg-icon, g
        fill $white

      &:hover
        background $green-darker

      &:active
        background $green-dark

    &.-blue
      background $blue
      .svg-icon, g
        fill $white

      &:hover
        background $blue-darker

      &:active
        background $blue-dark

    &.-gray
      background $gray
      .svg-icon, g
        fill $gray-text

      &:hover
        background $green-darker
        .svg-icon, g
          fill $white

      &:active
        background $green-dark
        .svg-icon, g
          fill $white

    &.-white
      background $white
      border 1px solid $border-gray
      .svg-icon, g
        fill $green

      &:hover
        background $green-darker
        border 1px solid $green-darker
        .svg-icon, g
          fill $white

      &:active
        background $green-dark
        border 1px solid $green-dark
        .svg-icon, g
          fill $white

    &.-white-dark
      background $white
      .svg-icon, g
        fill $black

      &:hover
        background rgba(255,255,255,.8)
        .svg-icon, g
          fill $black

      &:active
        background rgba(255,255,255,.6)
        .svg-icon, g
          fill $black

    &.-white-opacity
      background rgba(255,255,255,.2)
      .svg-icon, g
        fill $white

      &:hover
        background rgba(255,255,255,.1)

      &:active
        background rgba(0,0,0,.2)

  .icon-bag
    fill-rule evenodd

  &.icon-hot
    &:before
      content ''
      sprite($s-hot)
    &:hover
      background #fff !important

  &.close-button
    transform rotate(0)
    transition transform 0.2s

    &:hover
      transform rotate(90deg)

    &:active
      transform rotate(90deg)


// ==============================================
// Icons from sprite
// ==============================================

.icon-sprite
  display inline-block

  &.facebook
    sprite($s-fb)

  &.twitter
    sprite($s-twitter)

  &.google-plus
    sprite($s-google)
