.page
  padding 75px 0 120px
  position relative

.page-header
  width 100%
  position relative
  margin-bottom 73px
  clearfix()

  .earn-money
    float left
  .log-out
    float right

  .earn-money,
  .log-out
    width 96px
    text-align center
    position relative
    top 2px
    z-index 2

  h1.page-header-headline
    position relative
    width 100%
    top 0
    left 0
    text-align center
    font-size 60px
    line-height 64px
    letter-spacing -3.2px
    font-family 'Poppins'

  .page-description
    padding 32px 0 0
    font-size 20px
    color $gray-text
    text-align center
    letter-spacing -.3px

    a
      font-size 20px
      text-decoration underline

@media (max-width 1000px)
  .page
    padding-top 65px
    padding-bottom 80px

  .page-header
    margin-bottom 59px

    h1.page-header-headline
      font-size 55px
      line-height 60px

    .btn.-large
      padding 21px 24px
      top -3px

    .page-description
      padding-top 17px

@media (max-width 750px)
  .page-header
    h1.page-header-headline
      position relative
      font-size 32px
      line-height 58px
      letter-spacing -1.5px

@media (max-width 700px)
  .page
    padding 2px 0 0

  .page-mobile-links
      text-align center
      margin-bottom 12px

      a
        font-weight 400
        font-size 16px
        text-decoration underline
        display inline-block
        padding 4px 10px

  .page-header
    margin-bottom 30px

    h1.page-header-headline
      line-height 38px

    .page-description
      padding-top 12px
      font-size 16px
      line-height 26px

      a
        font-size 16px
        line-height 26px
