.product-description-wrapper
  background $white
  box-sizing border-box
  padding 74px 100px 68px
  font-size 16px
  line-height 24px

  .list
    margin-top 36px
    font-size 0

    li
      display inline-block
      vertical-align top
      width 30%
      font-size 16px
      line-height 30px
      box-sizing border-box
      font-weight 500

@media (max-width 920px)
  .product-description-wrapper
    padding 58px 64px 52px
    .list
      margin-top 30px
      li
        width 50%

@media (max-width 700px)
  .product-description-wrapper
    margin 0 -15px
    padding 34px 15px 30px

    .list
      margin-top 18px
      li
        width 100%
