.page.subscription-page
  padding 75px 0 130px

  .page-header
    margin-bottom 64px

    .page-description
      margin 100%
      max-width 750px
      line-height 30px
      margin 0 auto
      padding-top 34px

  .section.-with-composition
    padding 0

    .composition-content
      margin-top 8px

    .composition
      top -1px

.section.subscription-features
  padding 102px 0 0

@media (min-width 1000px)
  .page.subscription-page
    .composition-content
      text-align center

@media (max-width 1000px)
  .page.subscription-page
    padding 68px 0 60px

    .page-header
      margin-bottom 56px

      .page-description
        padding-top 19px

    .section.-with-composition
      margin-top -98px

      .composition-content
        text-align left
        margin-top 0

      .composition
        top 11px

  .section.subscription-features
    padding 50px 0 0

@media (max-width 700px)
  .page.subscription-page
    margin-top -20px
    padding 48px 0 40px

    .page-header
      .page-description
        padding-top 15px
        letter-spacing -.25px
        line-height 26px

    .section.-with-composition
      margin-top -53px

      .composition
        margin-bottom -20px

      .composition-content
        text-align center

  .section.subscription-features
    padding 34px 0 0
