.page.text-block
  padding 95px 0

  .page-header
    margin-bottom 66px

.text
  width 100%
  max-width 750px
  margin 0 auto

  font-size 22px
  line-height 34px
  color $gray-dark

  h2.headline
    color $black-weak
    font-size 36px
    line-height 48px
    letter-spacing -2.25px
    padding 20px 0 31px

  p
    padding-bottom 18px

.page.afilliate-info
  padding 92px 0 34px
  .page-header
    text-align center
    margin-bottom 76px

    h1.page-header-headline
      padding 74px 0 0
      line-height 62px

    .page-description
      line-height 30px
      width 100%
      max-width 700px
      margin 0 auto
      padding-top 34px

  .about-features
    padding 79px 0

@media (max-width 1000px)
  .page.text-block
    padding 68px 0 60px

    .page-header
      margin-bottom 53px

      h1.page-header-headline
        font-size 50px
        line-height 55px
        letter-spacing -2.75px

  .text
    font-size 18px
    line-height 28px
    letter-spacing -.25px
    color $gray-dark

    h2.headline
      font-size 28px
      line-height 36px
      letter-spacing -1.5px
      padding 18px 0 27px

  .page.afilliate-info
    padding 72px 0 19px

    .page-header
      margin-bottom 56px

      h1.page-header-headline
        padding 48px 0 0
        font-size 50px
        letter-spacing -2.75px

      .page-description
        padding-top 22px
        line-height 30px

    .about-features
      padding 58px 0

@media (max-width 700px)
  .page.text-block
    padding 17px 0 40px

    .page-header
      margin-bottom 24px

      h1.page-header-headline
        font-size 32px
        line-height 38px
        letter-spacing -1.75px

  .text
    font-size 16px
    line-height 26px
    letter-spacing -.25px
    color $gray-dark

    h2.headline
      font-size 22px
      line-height 30px
      letter-spacing -1.25px
      padding 0 0 10px

    p
      padding-bottom 16px


  .page.afilliate-info
    padding 20px 0 8px

    .page-header
      margin-bottom 46px

      .svg-icon
        display none

      h1.page-header-headline
        padding 8px 0 0
        font-size 32px
        line-height 38px
        letter-spacing -2px

      .page-description
        padding-top 14px
        line-height 26px

    .about-features
      padding 48px 0
