.wrapper
  width 100%
  padding-top 86px
  flex 1 0 auto

  &.-header-above
    padding-top 0

  &.-gray
    background #f2f2f2

  &.-gray-dark
    background #353535

.base-col
  width 100%
  max-width 1160px
  padding 0 30px
  margin 0 auto
  box-sizing border-box

.base-col-large
  width 100%
  max-width 1250px
  padding 0 50px
  margin 0 auto
  box-sizing border-box

.base-col-blog
  width 100%
  max-width 850px
  padding 0 50px
  margin 0 auto
  box-sizing border-box


// ==============================================
// Common wrapper (dev styles)
// ==============================================
.section
  width 100%
  clearfix()

  &.-large
    padding 98px 0 120px

  &.-with-composition
    overflow hidden

    .content
      margin-top 96px

  &.-default
    padding 100px 0

    .content-image + .content
      padding-top 40px

  &.-green
    background $green
    color $white

// ==============================================
// Common wrapper (dev styles)
// ==============================================

.common-wrapper
  .headline
    margin 24px 0 12px

  .common-bg
    background url('../images/content/bg-common.jpg')
    background-size cover
    margin 20px -20px 20px
    padding 1px 20px 20px

    .headline
      color #fff

  .common-green
    background $green
    margin 20px -20px 20px
    padding 1px 20px 20px

    .headline
      color #fff

      a
        color $black

        &:after
          background $black

  .common-gray
    background $gray
    margin 20px -20px 20px
    padding 1px 20px 20px


@media (max-width 1160px)
  .section.-default
    padding 90px 0

@media (max-width 700px)
  .base-col,
  .base-col-large,
  .base-col-blog
    padding-left 15px
    padding-right 15px
