.wrapper
  width 100%

.base-col
  width 100%
  max-width 1100px
  margin 0 auto

// ==============================================
// Common wrapper (dev styles)
// ==============================================
.section
  width 100%
  clearfix()

  &.-large
    padding 98px 0 110px

  &.-with-composition
    .content
      margin-top 94px

// ==============================================
// Common wrapper (dev styles)
// ==============================================

.common-wrapper
  .headline
    margin 24px 0 12px

  .common-bg
    background url('../images/content/bg-common.jpg')
    background-size cover
    margin 20px -20px 20px
    padding 1px 20px 20px

    .headline
      color #fff

  .common-green
    background $green
    margin 20px -20px 20px
    padding 1px 20px 20px

    .headline
      color #fff

      a
        color $black

        &:after
          background $black

  .common-gray
    background $gray
    margin 20px -20px 20px
    padding 1px 20px 20px
